{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<style>
  .abcd{
  height:100%;
  background-position:center;
  background-repeat:no repeat;
  background-size:cover;
  }
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="abcd" style="background-image:url({% static 'hm/demo/backgrounds/bg.jpg' %});">
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">BEST QUALITY FOOD ITEMS</h3>
      <p>Register with us and have the bestest quality food items at your finger tip.</p>
      <footer>

      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<div class="category">
  {% for i in ct %}
  <b style="color:white">
{{i.name}}<br>
  </b>
  {% endfor %}
</div>


<div class="wrapper row3">
  <main class="hoc container clear">
</div>

    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        {% for i in pr %}


        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="{{i.img.url}}" alt="" style="height:250;width:300;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:15}}</p>
              <br>
              <p>price:{{i.price}} Rs</p>
              <br>
              <p>stockleft:{{i.stock}}</p>
            </figcaption>
          </figure>
        </li>

        {% endfor %}




      </ul>
    </section>
    <hr class="btmspace-80">

    <div class="clear"></div>
  </main>
</div>

</div>

<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}